@import '/src/assets/styles/variables';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

.ContentContainer {
  transition: 1s;
  & > div {
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
    @include media-breakpoint-up(md) {
      padding-top: 136px;
      padding-bottom: 136px;
    }
  }
}