@import '/src/assets/styles/variables';

.ContentContainer {
  opacity: 0;
  transition: 1s;
  & > div {
    transition: 1.25s;
    position: relative;
    padding-top: 136px;
    padding-bottom: 136px;
  }
}

.ContentContainer--visible {
  opacity: 1;

  & > div {
    top:0;
  }
}