@import "@styles/variables";

.MobileMenu {
  height: 100vh;
  width: 100vw;
  background-color: $primary;
  color: $primary-100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fadeIn .5s;
  padding: 12rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;

  .MobileMenu__inner {
    display: inline-flex;
    flex-direction: column;
    & > a { 
      font-size: 170%;
      text-decoration: none;
      font-family: $headings-font-family;
      margin-bottom: 1.5rem;
    }
  }

  a {
    color: $primary-100
  }
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}