@import '/src/assets/styles/variables';

.AdminSidebar {
  background-color: $beige;
  
  ul {
    li {
      &:first-of-type {
        border-top: 1px solid $primary-100;
      }
    }
    a {
      padding: 1rem $gutter;
      border-bottom: 1px solid $primary-100;
      transition: .25s;
      font-family: $headings-font-family;
      font-size: 110%;

      &.active {
        background-color: $primary-100;
      }


      &:hover {
        background-color: darken($beige, 5%);
        color: lighten($primary, 5%);
      }


    }
  }
}