@import '/src/styles/variables';
@import '/src/styles/mixins';

.SanitizedHtml > span {
  & > code {
    padding: 1rem;
    @include code-block();
  }

  p,li {
    & > code {
      font-size: 75%;
      padding: 2px 4px;
      @include code-tag();
    }
  } 
}