@import '/src/styles/variables';
.SharePostButton {
  $share-hover-color: $primary;

  & > * {
    transition: .25s;
  }

  &:hover {

    svg {
      fill: $share-hover-color;
    }

    span.subtitle {
      color: $share-hover-color;
    }
  }

  svg {
    fill: $text-color-subtitle;
  }
}