@import '/src/assets/styles/variables';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

.AdminLayout {
  @include media-breakpoint-up(lg) {
    display: flex;
    & > div:first-of-type {
      width: 300px;
    }

    & > div:nth-of-type(2) {
      width: calc(100% - 300px);
    }
  }
}