@import '/src/styles/variables';

.SiteLogo {
  display: inline-block;
  height: 48px;
  width: 48px;
  border: 1px solid $primary;
  font-family: $headings-font-family;
  letter-spacing: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  color: $primary;

  &.SiteLogo--inverted {
    border-color: $primary-100;
    color: $primary-100;
  }
}