.BlogPostListItem {
  border-bottom: 1px solid var(--bs-gray-200);
  &:last-of-type {
    border-bottom: 0;
  }
  &:hover {
    cursor: pointer;

    .BlogPostListItem__title {
      color: var(--bs-primary);
    }
  }
}

.BlogPostListItem__content {
  width: 100%;
}

.BlogPostListItem__title {
  transition: 0.25s;
  color: var(--bs-body);
}
