@import '/src/styles/variables';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

.Modal {
  z-index: 2;
  opacity: 0;
  transition: .25s;
  background-color: rgba(0,0,0,0.6);

  &.Modal--show {
    opacity: 1;

    .Modal__body {
      bottom: 0;

      @include media-breakpoint-up(sm) {
        top: 6rem;
        bottom: auto;
      }
    }
  }
}

.Modal__body {
  transition: .25s;
  bottom: -100%;
  left: 0;
  height: auto;
  min-height: 400px;
  background-color: $white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  @include media-breakpoint-up(sm) {
    top: -100px;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(640px - #{$gutter * 2});
    border-radius: 0;
  }
}
