/**
  This needs to be imported into the "_lib.scss" file. So that we can update
  the bootstrap variable defaults with our own variables
*/
// COLORS
$primary: #917059;
$primary-100: lighten($primary, 38%);
$beige: #f5e9e1;
$body-bg: #FBFBFB;
$body-color: #3D3D3D;

$text-color-subtitle: #b1b1b1;

// PADDING
$gutter: 2rem;

$grid-gutter-width: $gutter;


// FONTS
$headings-font-family: 'eb_garamond_med', serif;
$font-family-base: 'hk_grotesk_reg', sans-serif;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.67;

// COMPONENTS
$header-height: 80px;

// BORDERS
$border-radius: 0;