/**
  This needs to be imported into the "_lib.scss" file. So that we can update
  the bootstrap variable defaults with our own variables
*/
// COLORS
$primary: #917059;
$primary-100: lighten($primary, 38%);
$beige: #f5e9e1;
$body-bg: #fbfbfb;
$body-color: #3d3d3d;

// PADDING
$gutter: 2rem;

// FONTS
$headings-font-family: 'eb_garamond_med', serif;
