@font-face {
  font-family: 'eb_garamond_med';
  src: url('/fonts/ebgaramond-medium-webfont.woff2') format('woff2'),
    url('/fonts/ebgaramond-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'hk_grotesk_med';
  src: url('/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
    url('/fonts/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'hk_grotesk_reg';
  src: url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
    url('/fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
