@import '/src/assets/styles/variables';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

.SiteFooter {
  padding: 32px 0;
  color: $primary-100;

  @include media-breakpoint-up(md) {
    padding: 64px 0;
  }
}