.EditPost__featured-image-wrapper {
  position: relative;
  background-color: aliceblue;
  margin-bottom: 40px;
  &:before {
    content: '';
    display: block;
    padding-bottom: 40%;
  }
}

.EditPost__content-wrapper {
  margin-bottom: 120px;
}

.EditPost__container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.p-component,.ql-container {
  font-size: inherit !important;
  font-family: inherit !important;
}