.EditPost__featured-image-wrapper {
  position: relative;
  background-color: aliceblue;
  margin-bottom: 40px;
  &:before {
    content: '';
    display: block;
    padding-bottom: 40%;
  }
}

.EditPost__content-wrapper {
  margin-bottom: 120px;
  min-height: 500px;
  display: flex;
  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > div.tiptap {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

.EditPost__container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.p-component,.ql-container {
  font-size: inherit !important;
  font-family: inherit !important;
}

.ql-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > .ql-editor {
    flex-grow: 1;
  }
}