@import '/src/styles/variables';
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

.HomeHeroBanner {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.FeaturedProjects__wrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  min-height: 400px;

  @include media-breakpoint-down(md) {
    display: block;
  }

  & > *:nth-of-type(2) {
    background-color: lighten(#008476, 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      max-width: 70%;
      display: block;
      margin: 0 auto;
    }
  }

  .FeaturedProject {
    text-decoration: none;
    transition: 0.25s;
    color: $body-color;
    position: relative;
    min-height: 200px;
    display: flex;

    &:hover {
      & > .FeaturedProject__info {
        opacity: 1;
        top: 0;
      }
    }

    @include media-breakpoint-down(md) {
      min-height: 300px;
    }
  }

  .FeaturedProject__info {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.AboutMe__image {
  min-height: 300px;
  position: relative;
}
