@import '/src/styles/variables';

.Chip {
  background-color: $beige;
  padding: .67rem .67rem;
  color: darken($primary, 11%);
  border-radius: .5rem;

  &.Chip--small {
    padding: .5rem .5rem;
    font-size: .8rem;
  }

  &.Chip--clickable {
    &:hover {
      cursor: pointer;
    }
  }

  &.Chip--active {
    background-color: $primary;
    color: var(--bs-light);
  }

  & > * {
    line-height: 1;
  }
}