@import '/src/assets/styles/variables';
@import '/src/assets/styles/typography';

.ContactForm {
  position: relative;
  label {
    display: block;
    margin-bottom: 8px;
    @extend .subtitle;
  }
  input,textarea {
    padding: .5rem 1rem;
    display: block;
    width: 100%;
    border: 1px solid $primary;
  }

  textarea {
    min-height: 200px;
  }
}

.ContactForm__overlay {
  background-color: $body-bg;
}