.ContentEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > div.tiptap {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }


  .p-component,.ql-container {
    font-size: inherit !important;
    font-family: inherit !important;
  }
  
  .ql-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
    & > .ql-editor {
      flex-grow: 1;
    }
  }

  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

