.EditPost__featured-image-wrapper {
  position: relative;
  background-color: aliceblue;
  margin-bottom: 40px;
  &:before {
    content: '';
    display: block;
    padding-bottom: 40%;
  }
}

.EditPost__content-wrapper {
  margin-bottom: 120px;
  min-height: 500px;
  display: flex;
}

.EditPost__container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}