@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import '/src/styles/mixins';

.BlogPostFeaturedImage {
  display: block;
  position: relative;
  flex: auto;
  @include post-img-width-full();

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}